body, div , p {
    margin: 0;
}


nav {
    background-color: deepskyblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 3%;
}
.duas {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    
    
    
    
}
.primeira {
    width: 50%; height: 400px;
    background-color: green;
    padding: 1%;
    
    display: inline-block;
}
.segunda {
    width: 50%; height: 400px;
    background-color: rgba(17, 63, 231, 0.86);
    display: inline-block;
    padding: 1%;
    
    
}
.tres {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
}
.terceira {
    width: 33.3%; height: 400px;
    background-color: rgb(25, 75, 92);
    display: inline-block;
    padding: 1%;
    
}

.quarta {
    width: 33.3%; height: 400px;
    background-color: rgba(25, 31, 16, 0.552);
    display: inline-block;
    padding: 1%;
}

.quinta {
    width: 33.3%; height: 400px;
    background-color: rgb(39, 123, 179);
    display: inline-block;
    padding: 1%;
}

img {
    width: 400px;
    height: 180px;
    margin-left: 11%;
    margin-top: 5%;
    text-align: center;
  
}

.container {
    height: 100px;
    width: 150px;
}
nav h1 {
    font-family:Arial, Helvetica, sans-serif;
}