table{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}
th, td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: blue;
}

th{
    text-align: center;
}
#cinza{
    background-color: rgb(170, 165, 153);
}
#wheat{
    background-color: wheat;
}
#azul{
    background-color: rgb(84, 199, 237);
}
#amarelo{
    background-color: rgb(230, 230, 25);
}
#verde{
    background-color: rgb(117, 228, 117);
}
#rosa{
    background-color: palevioletred;
}
#roxo{
    background-color: rgb(184, 130, 234);
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
